<style>
    body {
        background-color: #f5f5f5;
    }

    .profile-info {
        margin: 20px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        background-color: #fff;
    }

    .profile-info h2 {
        margin-bottom: 10px;
    }

    

    .profile-bio {
        margin: 20px 0;
        padding: 20px;
        background-color: #fff;
    }

    .profile-bio textarea {
        width: 100%;
        height: 200px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
    }
</style>

<h1>Hello {{ candidate.user.username }} :-)</h1>

<div class="profile-info">
    <h2>Basic Information</h2>
    <p>Username: {{ candidate.user.username }}</p>
    <p>Email: {{ candidate.user.email }}</p>
    <p>Date of birth: {{ candidate.date_of_birth }}</p>
    <p>Phone number: {{ candidate.phone_number }}</p>
    <p>First name: {{ candidate.first_name }}</p>
    <p>Last name: {{ candidate.last_name }}</p>
</div>

<div class="profile-bio">
    <h2>Bio</h2><textarea readonly>{{ candidate.bios }}</textarea>

</div>
<div class="profile-info">
    <h2>CV Form</h2>
{% if candidate.cvcandidate %}
    <p>Field of work: {{ candidatecv.get_field_display }}</p>
    <p>Years of Experience: {{ candidatecv.get_yearsexp_display }}</p>
    <p>Education: {{ candidatecv.get_education_display }}</p>
    <p>GitHub URL: {{ candidatecv.GitUrl }}</p>  
{% else %}
    <p>No CV:</p>
    <form action="{% url 'cv' %}">
        <button type="submit" class="btn btn-primary">Upload cv</button>
    </form> 
{% endif %}
</div>
<form action="{% url 'edit_profile' candidate.user.username %}">
    <button type="submit" class="btn btn-primary">Edit Profile</button>
</form> 
<form>
    <a href="{% url 'delete_account' %}">Delete</a>
</form>