<head>
  <style>
    .go-back-button:hover {
      background-color: royalblue;
      color: white;
    }
  </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  
  <body>
    
    <style>
      .w3-container {
        font-size: 14px;
      }
  
      .center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    </style>
  
    <div class="center">
      <h3 class="donate">
        <div class="w3-card-4">
          <div style="position:absolute; top:0; right:0;">
            <a href="http://127.0.0.1:8000/" style="position: absolute; top: 5px; right: 10px; background-color: lightgray; padding: 10px 15px; border-radius: 5px; text-decoration: none; color: black; font-weight: bold;">Home</a>
          </div>
      
          <header class="w3-container w3-blue">
            <h1>DONATE</h1>
          </header>
  
          <div class="w3-container">
            
            <div id="paypal-button-container"></div>
  
            <!-- Include the PayPal JavaScript SDK -->
            <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>
          
            <script>
              // Render the PayPal button into #paypal-button-container
              paypal.Buttons({
  
                // Set up the transaction
                createOrder: function(data, actions) {
                  return actions.order.create({
                    purchase_units: [{
                      amount: {
                        value: '88.44'
                      }
                    }]
                  });
                },
  
                // Finalize the transaction
                onApprove: function(data, actions) {
                  return actions.order.capture().then(function(orderData) {
                    add_user_to_vip_group('user@example.com')
                  });
                }
  
  
              }).render('#paypal-button-container');
            </script>
  
  
          </div>
  
  
          <footer class="w3-container w3-blue">
            <h5>&copy Professional Cipher</h5>
          </footer>
  
        </div>
      </h3>
  
    </div>


  </body>
  
  <script>
    function add_user_to_vip_group(email) {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          console.log(this.responseText);
        }
      };
      xhttp.open("POST", "/add_user_to_vip_group/", true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send("email=" + email);
    }
  </script>
  