<html>
    <head>
        <center>
        <meta charset="utf-8">
        <title>Upload list</title>
        <link rel="stylsheet" href="/static/admin/css/style2.css">
    </head>
    <body> 
        <div class="jobs-details">
            <div class="job">
                <h2>{{job.subTitle}}</h2>
                <p><h3>job description: </h3>{{job.body}}</p>
                <p>category: {{job.category}}</p>

                <p>Salary range: {{job.salaryRange}}</p>

                <p>date of publish: {{job.date}}</p>
            </div>
        </div>
        <a href="{% url 'list' %}">
            <button>Back to JobList</button>
            </a>
        
    </body></center>
</html>