<!DOCTYPE html>
<html>
        <style>
        h1 {
            color: green;
            font-size: 50px;
            }
        </style>

    <head>
        <center>
    </head>
    <body>
        <h1>{{job.subTitle}}</h1>
        <form action="" method=POST>
            {% csrf_token %}
            {{ form.as_p }}
            <br/>
            <input type="submit" value="Submit" class="btn btn-secondary">


        </form>
       
        
        <br>
        <a href="{% url 'list' %}">
            <button>Back to JobList</button>
            </a>

    </body></center>
</html>