<html>
    <head> <center>
        <style>
            h1 {
               color: green;
               font-size: 50px;
             }
           </style>
   
        <meta charset="utf-8">
        <title>UploadJob</title>
    </head>
    <body>
        <div><b><textarea:justify>

       
                <h1>Upload Your New Job</h1>
             
                   
                    {% if submitted %}
                        your Upload was submitted successfuly!!
                    {% else }

                    {% endif %}
                        <form action="" method=POST>
                            {% csrf_token %}
                            {{ form.as_p }}

                            <br/>
                            <input type="submit" value="Submit" class="btn btn-secondary">
                        </form>
       
          
               
               
            <a href="{% url 'list' %}">
                    <button>Back to JobList</button>
                    </a>
                 </textarea:justify>
        </div>
    </body></center>
</html>

