<html>
    <center>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">    </head>
    <body>
        <h1>This is Upload list page</h1>
        <a href="{% url 'jobscsvFile' %}"><button>jobs Text File</button></a>
        <a href="{% url 'jobsPdfFile' %}"><button>jobs Pdf File</button></a>


        <div class="uploads">
          <form method="post">
              {% csrf_token %}
              <label for="sort_field">Sort by:</label>
              <select name="sort_field" id="sort_field">
                <option value="title">Title</option>
                <option value="date">Date</option>
                <option value="salaryRange">Salary Range</option>
                <option value="yearsexp">Years of expirience</option>
                <option value="time">Job Type</option>
                <option value="hybrid">Hybrid</option>
                <option value="location">Location</option>
                

              </select>
              <label for="sort_order">Order:</label>
              <select name="sort_order" id="sort_order">
                <option value="ascending">Ascending</option>
                <option value="descending">Descending</option>
              </select>
              <input type="submit" value="Sort">
            </form>

             
                <br/>
            <a href="{% url 'upload' %}">
            <button>Upload job</button>
            </a>
            <br/><br/> 
            {% for upload in uploads %}
            
            <div class="card bg-light" style="width: 30rem;">
                <div class="card-body">
                  <h5 class="card-title"><h2><strong>{{upload.title}}</strong></h2></h5>
                  <p class="card-text"><strong>{{upload.snippet}}</strong></p>
                  <p class="card-text"><strong>Date: </strong>{{upload.date}}</p>
                  <p class="card-text"><strong>Salary Range: </strong>{{upload.get_salaryRange_display}}</p>
                  <p class="card-text"><strong>Years of expirience:</strong>  {{upload.get_yearsexp_display}}</p>
                  <p class="card-text"><strong>Job Type: </strong>{{upload.get_time_display}}</p>
                  <p class="card-text"><strong>Hybrid: </strong>{{upload.get_hybrid_display}}</p>
                  <p class="card-text"><strong>Location: </strong>{{upload.get_location_display}}</p>



                  <a href="{% url 'Jobsdetail' upload  %}" class="btn btn-primary">Show More..</a>
                </div>
              </div>


             
                <br/><br/>
            {% endfor %}


                

            
         </div>
        </body>
    </center>
</html>